.feedback-background {
  align-items: center;
  background-color: #0fa36b;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.results-box {
  background-color: rgb(226, 221, 215);
  border-radius: 8px;
  box-shadow: 2px 2px 4px black;
  height: 300px;
  margin-top: 50px;
  padding: 10px;
  width: 500px;
}

.results-box p {
  margin-top: 30px;
}

.results-box button {
  background-color: #0c8355;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 8px 15px;
  margin-top: 25px;
}
